body {
  background-color: lavender;
  text-align: left;
  margin-top: 150px;
  margin-left: 300px;
  margin-right: 300px;
  font-family: calibri;
  color: black;
  border-style: dotted;
  border-color: gray;
  padding: 1em;
}